<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="textEditor" class="com.metacube.training.TextEditor">
		<constructor-arg type="SpellChecker" ref="spellCheckerId" />
	</bean>
	<bean id="spellCheckerId" class="com.metacube.training.SpellChecker">
		<constructor-arg type="String" value="Training" />
	</bean>
</beans>
