<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>projects</title>

</head>
<body>
	<a th:href="@{/admin/dashboard}">DashBoard</a>
	<a th:href="@{/admin/addEmployee}">Add Employee</a>
	<a th:href="@{/admin/allEmployees}">Show All Employees</a>
	<a th:href="@{/project/addProject}">Add project</a>
	<a th:href="@{/project/allProjects}">Show all project</a>
	<a th:href="@{/job/addJobs}">Add Job</a>
	<a th:href="@{/skills/addSkills}">Add Skills</a>
	<a th:href="@{/admin/searchEmployees}">Search Employee</a>
	<form th:action="@{/Logout}" method="POST">
		<input type="submit" value="Logout" />
	</form>
	<br>
	<div class="container">
		<div th:if="${not #lists.isEmpty(projects)}">
			<h2>All projects</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<td>Name</td>
					<th>Description</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="project : ${projects}">
					<td th:text="${project.projectId}">Id</td>
					<td th:text="${project.name}">Project Name</td>
					<td th:text="${project.description}">Description</td>
					<td th:text="${project.startDate}">Start Date</td>
					<td th:text="${project.endDate}">End Date</td>
					<td><a th:href="${'editProject?id=' + project.projectId}">Edit</a></td>
					<td><a th:href="${'delete?id=' + project.projectId}">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>