<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>All Skills</title>
</head>
<body>
	<div th:if="${not #lists.isEmpty(skills)}">
		<h2>All Skills</h2>
		<table width="70%">
			<tr>
				<th>Id</th>
				<th>SkillName</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="skills : ${skills}">
				<td th:text="${skills.skillId}">Id</td>
				<td th:text="${skills.skillName}">SkillName</td>
				<td><a th:href="${'editSkill?id=' + skills.skillId}">Edit</a></td>
				<td><a th:href="${'deleteSkill?id=' + skills.skillId}">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>