<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Add Skill</title>
</head>
<body>
	<a th:href="@{/admin/dashboard}">DashBoard</a>
	<a th:href="@{/admin/addEmployee}">Add Employee</a>
	<a th:href="@{/admin/allEmployees}">Show All Employees</a>
	<a th:href="@{/project/addProject}">Add project</a>
	<a th:href="@{/project/allProjects}">Show all project</a>
	<a th:href="@{/job/addJobs}">Add Job</a>
	<a th:href="@{/skills/addSkills}">Add Skills</a>
	<a th:href="@{/admin/searchEmployees}">Search Employee</a>
	<a th:href="@{/admin/logout}">Logout</a>
	<br>
	<center>
		<h1>Add Skill</h1>
		<form th:object="${skill}" th:action="@{addSkills}" method="POST">
			<table width="50%">
				<tr>
					<td><input type="hidden" th:field="*{skillId}" /></td>
				</tr>
				<tr>
					<td>Skill Name</td>
					<td><input type="text" th:field="*{skillName}"></td>
				</tr>
				<tr>
					<td><input type="submit" value="submit"></td>
				</tr>
			</table>
		</form>
	</center>
</body>
</html>