<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Employee</title>
</head>
<body>
	<a th:href="@{/employee/viewProfile}">Profile</a>
	<a th:href="@{/employee/searchEmployees}">Search Employee</a>
	<a th:href="@{/employee/logout}">Logout</a>
	<br>
	<div th:if="${not #lists.isEmpty(employees)}">
		<h2>Employee</h2>
		<table width="70%">
			<tr>
				<th>Id</th>
				<th>FirstName</th>
				<th>MiddleName</th>
				<th>LastName</th>
				<th>DOB</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Skills</th>
				<th>Edit</th>
			</tr>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.code}">Id</td>
				<td th:text="${employee.firstName}">FirstName</td>
				<td th:text="${employee.middleName}">MiddleName</td>
				<td th:text="${employee.lastName}">LastName</td>
				<td th:text="${employee.dob}">DOB</td>
				<td th:text="${employee.gender}">Gender</td>
				<td th:text="${employee.emailId}">Email</td>
				<!--  <td th:text="${employee.password}">Password</td>-->
				<td th:text="${employee.skills}">Skills</td>
				<td><a th:href="${'editEmployee?code=' + employee.code}">Edit</a></td>
			</tr>
		</table>
	</div>
</body>
</html>