<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>AddEmployee</servlet-name>
		<servlet-class>GET2018.EAD.EADSession3.Servlets.AddEmployeeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmployee</servlet-name>
		<url-pattern>/AddEmployee</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowEmployees</servlet-name>
		<servlet-class>GET2018.EAD.EADSession3.Servlets.ShowEmployeesServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowEmployees</servlet-name>
		<url-pattern>/ShowEmployees</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchEmployee</servlet-name>
		<servlet-class>GET2018.EAD.EADSession3.Servlets.SearchEmployeeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchEmployee</servlet-name>
		<url-pattern>/SearchEmployee</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateEmployee</servlet-name>
		<servlet-class>GET2018.EAD.EADSession3.Servlets.UpdateEmployeeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateEmployee</servlet-name>
		<url-pattern>/UpdateEmployee</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SetEmployee</servlet-name>
		<servlet-class>GET2018.EAD.EADSession3.Servlets.SetEmployeeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetEmployee</servlet-name>
		<url-pattern>/SetEmployee</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Welcome.html</welcome-file>
	</welcome-file-list>
</web-app>